<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item *ngFor="let img of imageObject; let i = index" (click)="showLightbox(i)" >
        <ion-thumbnail item-start>
          <img src="{{img.thumbImage}}">
          <br/>
        </ion-thumbnail>
      </ion-item>
    </ion-list>
    </ion-content>

  
  <!-- ng-image-fullscreen-view  -->
  <ng-image-fullscreen-view
          [images]="imageObject"
          [imageIndex]="currentIndex"
          [show]="showFlag"
          [paginationShow]="true"
          (close)="closeEventHandler()"
          >
  </ng-image-fullscreen-view>  




</ion-content>
